<!DOCTYPE html>
{% load staticfiles %}

<html>
<head>
	<title>ALL BOOM</title>
	<link href="{% static 'css/style.css' %}" rel="stylesheet">

</head>
<body class="body">
	<b1 class="button" onclick="sing_page()"> SING UP </b1>
	</br>
	<div class="divh">
		<h1 class="header"> ALL BOOM </h1>
		<p1 class="pgrph"> CREATE AND SHARE </br> SHARE AND RECREATE</p1></br></br></br>
	</div></br>

<script>
	function sing_page() {
		location.replace ("https://guibax.pythonanywhere.com/singup")
	}
</script>
</body>
</hmtl>