
body{
	background-color: black;
	background-size: 900px 300px;
	background-repeat: repeat-x;
	background-attachment: fixed;
	background-position: center;
	text-align: center;
	width=1920px;
	height=1080px;
	}

.divh{
	background-color: white;
	margin: auto;
	width:96% ;
}
.divm{
	background-color: white;
	margin: auto;
	width:96% ;
}
.divtxt{
	background-color: white;
	margin-left: 1z%;
	width:46% ;
	display: inline-block;
}


.header {
	font-family: Courier; 
	font-size: 65px;
	color: black;
}

.pgrph{
	
	font-family: monospace;
	font-size: 25px;
	font-style: normal;
	color: black;

}

.button {
	background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    cursor: pointer;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #111;
}

 .active {
    background-color: white;
    color: black;
}
